<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDiwD9hZlEO3se3-Ic9QQMhRxO7LsXhmHQ</string>
	<key>GCM_SENDER_ID</key>
	<string>277690376322</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kolestrol</string>
	<key>PROJECT_ID</key>
	<string>kolesterol-8a498</string>
	<key>STORAGE_BUCKET</key>
	<string>kolesterol-8a498.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277690376322:ios:727ab4afef3f3e727dd49b</string>
</dict>
</plist>